html, body {    
    height: 100%;
    padding: 0;
    margin: 0;    
}

body {
        
    overflow-x: hidden;
    -webkit-animation: slideDown 0.7s linear;
            animation: slideDown 0.7s linear;
    
}
@keyframes slideDown {
    from {        
        -webkit-transform: translateY(-100%);        
                transform: translateY(-100%);

    }to {        
        -webkit-transform: translateY(0);        
                transform: translateY(0);
    }
}        
@-webkit-keyframes slideDown {
    from {
        -webkit-transform: translateY(-100%);                

    }to {
        -webkit-transform: translateY(0);                
    }
}        