.split-wrap {
    min-height: 100%;
    width: 100%;        
}

.splitter {
    min-height: 100%;
    width: 100%;
    position: relative;
    -webkit-transform: translate(0,0,0);
            transform: translate(0,0,0);
    -webkit-transition: all 1s ease-in-out 0.2s;
            transition: all 1s ease-in-out 0.2s;    
}

.side {
    position: fixed;
    width: 50%;
    height: 100%;    
    padding: 100px;
    background: #ffffff;
}

.side-l{
    left: 0;    
}

.side-r {
    right: 0;
}

.page{
    width: 100%;
    min-height: 100%;
    position: absolute;

    padding: 100px 100px 50px;

    background: #f9f9f9;    
    left: 0;
    top: 0;
    
    -webkit-transition: all 1s ease-in-out 0.2s;
    transition: all 1s ease-in-out 0.2s;
}
.page-l{
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);    
/*    background: #f9f9f9;    */
}
.page-r{
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
/*    background: #f8f8f8;    */
}
.page .about{
    font-size: 20px;
    padding: 2em 0;
    margin: 0 -100px;
    
}
.page .about h1 {
    margin-left: 100px;
}
.page .about p {
    background: #222;
    padding: 50px;
    color: #eee;
    height: 200px;
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out 0.2s;
            transition: all 1s ease-in-out 0.2s;
}
.page .about p.hide {
    height: 0;
    padding: 0;  
    -webkit-transition: all 1s ease-in-out 0.2s;
            transition: all 1s ease-in-out 0.2s;
}
.page section{
    padding: 2em;
    color: #303030;    
}
.page section figure{    
    position: relative;
    -webkit-transition: background 0.5s linear;
            transition: background 0.5s linear;
}
.page section figure:hover{    
    background: #fff;
    cursor: pointer;
}
.page section figure img{
    width: 25%;             
    display: inline-block;
}
.page section figcaption{        
    width: 65%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}

.back{
    position: fixed;
    top:100px;
    cursor: pointer;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    -webkit-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
}
.back img:hover{
    -webkit-animation: pulsate 1s linear infinite;
    animation: pulsate 0.8s linear infinite;
}

@keyframes pulsate {
    0%, 100%{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50%{
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
    }
}
@-webkit-keyframes pulsate {
    0%, 100%{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50%{
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
    }
}

.back-l{
    right: 50px;        
}
.back-r{
    left: 50px;    
}

.open-l{    
}
.open-r{    
}
.open-l .page-l, .open-r .page-r{
    height: auto; 
    min-height: 100%;    
    -webkit-transform: translateX(0);    
            transform: translateX(0);
    -webkit-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
}
.open-l .back-l, .open-r .back-r{
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.2s ease-in 1s;
    transition: all 0.2s ease-in 1s;
}
.open-l .splitter{
    -webkit-transform: translateX(100%);
            transform: translateX(100%);     
    -webkit-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
}
.open-r .splitter{
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 1s ease-in-out 0s;
            transition: all 1s ease-in-out 0s;
}

.box{

}

.wheel{
    position: fixed;

    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -255px;
    height: 100px;
    width: 510px;   
    z-index: 998;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}
.wheel:hover .in-motion-wheel{    
    -webkit-transform: rotate(180deg);    
            transform: rotate(180deg);
    -webkit-transition: all 1s linear;
            transition: all 1s linear;
}

.open-l .wheel{
    top: 50px;
    left: 200px;    
    width: 250px;
    position: fixed;
}
.open-l .wheel .in-motion-wheel{
    top: 0;        
}
.open-l .wheel .foundation-trigger{
    width: 0;
    display: none;    
}
.open-l .wheel .media-trigger{
    border-radius: 0;
}

.open-r .wheel{
    top: 50px;
    left: 240px; 
    width: 250px;
    position: fixed;
}
.open-r .wheel .in-motion-wheel{
    top: 0;
    left: 200px;
}
.open-r .wheel .media-trigger{
    width: 0;
    display: none;
}
.open-r .wheel .foundation-trigger{
    border-radius: 0;    
    padding-left: 30px;
}
.open-r .wheel .foundation-trigger:hover::after{    
    display: none;
}

.in-motion-wheel{
    position: absolute;
    height: 120px;    
    border-radius: 100%;
    border: 10px solid #fff;
    left: 195px;
    top: -10px;
    background: #fff;
    box-shadow: 0 0 10px 0 #000;    
    display: inline-block;    
    -webkit-transition: all 0s linear;    
            transition: all 0s linear;
    z-index: 999;
}

.page-trigger {
    width: 250px;
    height: 100px;
    display: inline-block;    
    font-size: 32px;    
    padding-top: 29px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 1s linear;
            transition: all 1s linear;
    border: 5px solid #fff;
    box-shadow: 0 0 2px 0 #ddd;
}
.media-trigger{
    position: absolute;
    left: 0;
    top: 0;
    background: #f6821f;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: right;
    padding-right: 75px;
    z-index: 997;
}
.media-trigger:hover::after{
    position: absolute;    
    top: -5px;
    left: -10px;
    content: '';

    color: #f6821f;
    width: 100px;
    height: 100px;

    border-radius: 50px;
    border-left: 5px solid;        
    display: block;

    -webkit-animation: to-fro-left 0.25s linear infinite alternate;
    animation: to-fro-left 0.25s linear infinite alternate;
}
.foundation-trigger{
    position: absolute;
    right: 0;
    top: 0;
    background: #00a650;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: left;
    padding-left: 60px;
    z-index: 996;
    -webkit-transition: all 0.75s linear;
            transition: all 0.75s linear;
}
.foundation-trigger:hover::after{
    position: absolute;    
    top: -5px;
    right: -10px;
    content: '';

    color: #00a650;
    width: 100px;
    height: 100px;

    border-radius: 50px;
    border-right: 5px solid;        
    display: block;

    -webkit-animation: to-fro-right 0.25s linear infinite alternate;
    animation: to-fro-right 0.25s linear infinite alternate;
}
@keyframes to-fro-left{
    from {left: -10px}
    to {left: -20px}
}
@-webkit-keyframes to-fro-left{
    from {left: -10px}
    to {left: -20px}
}
@keyframes to-fro-right{
    from {right: -10px}
    to {right: -20px}
}
@-webkit-keyframes to-fro-right{
    from {right: -10px}
    to {right: -20px}
}

/*********** other classes ***********/
.app-space{
/*    display: inline-block;*/
    margin: 10px 20px;
    text-align: center;
}

.zero-height{
    max-height: 0;
}